<section id="resume" class="resume">
    <div class="container">
        <div class="section-title">
            <h2 id="resume-title">Resume</h2>
            <p id="resume-description">{{ resume_info.description }}</p>
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-up">
                <h3 class="resume-title">Summary</h3>
                {% for summary in summary_info %}
                    <div class="resume-item pb-0">
                        <h4 id="summary-name">{{ summary.name }}</h4>
                        <p><em id="summary-description">{{ summary.description }}</em></p>
                        <ul>
                            <li id="summary-address">{{ summary.address }}</li>
                            <li id="summary-phone">{{ summary.phone }}</li>
                            <li id="summary-email">{{ summary.email }}</li>
                        </ul>
                    </div>
                {% endfor %}

                <h3 class="resume-title">Education</h3>
                {% for education in education_info %}
                    <div class="resume-item" id="education-{{ forloop.counter }}">
                        <h4 id="education-{{ forloop.counter }}-degree">{{ education.degree }}</h4>
                        <h5 id="education-{{ forloop.counter }}-years">{{ education.years }}</h5>
                        <p><em id="education-{{ forloop.counter }}-school">{{ education.school }}</em></p>
                        <p id="education-{{ forloop.counter }}-details">{{ education.details }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                <h3 class="resume-title">Professional Experience</h3>
                {% for experience in experience_info %}
                    <div class="resume-item" id="experience-{{ forloop.counter }}">
                        <h4 id="experience-{{ forloop.counter }}-title">{{ experience.title }}</h4>
                        <h5 id="experience-{{ forloop.counter }}-years">{{ experience.years }}</h5>
                        <p><em id="experience-{{ forloop.counter }}-company">{{ experience.company }}</em></p>
                        <p id="experience-{{ forloop.counter }}-responsibilities">{{ experience.responsibilities }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
