{% extends 'base.html' %}
{% load static %}

{% block content %} 



    <!-- ======= Header ======= -->
    {% include 'app/body/header/header.html' %}
    <!-- End Header -->

    <!-- ======= #main ======= -->
    {% if user.is_authenticated %}
        {% block adminMain %}
        {% endblock %}
    {% else %}
        {% block main %}
        {% endblock %}
    {% endif %}

    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include 'app/body/footer/footer.html' %}
    <!-- End Footer -->
    
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- Login/Logout -->
    
{% endblock %}


