
{% extends 'backoffice/profile.html' %}
{% load static %}

{% block contentadminMain %}

<section class="portfolio"> 
    <div class="container"> 
        <form method="post">
            {% csrf_token %}
            {{ portfolio_form.as_p }}
            {{ portfolio_item_form.management_form }}
            {% for form in portfolio_item_form %}
                {{ form.as_p }}
            {% endfor %}
            <button type="submit">Save</button>
        </form>
    </div>
</section>
{% endblock %}