{% extends 'base.html' %}
{% load static %}


{% block content %}
    {% include 'app/body/header/header.html' %}

        <main id="main">

            <!-- ======= Breadcrumbs ======= -->
            {% include 'app/body/main/section/breadcrumbs.html' %}

            <!-- End Breadcrumbs -->

            <!-- ======= Portfolio Details Section ======= -->
            {% include 'app/body/main/section/portfolio_details.html' %}

            <!-- End Portfolio Details Section -->

        </main><!-- End #main -->

        <!-- ======= Footer ======= -->
        {% include 'app/body/footer/footer.html' %}
        <!-- End Footer -->

{% endblock %}